h1 { color: blue ;}
h2 {width: 5rem }
h3{ color: blanchedalmond; background-color: pink; }
.box {width: 20%; position:absolute; left: 500px }

.beautiful {position: fixed; left: 800px; top:0px }
.cell {background-color: aqua;}