* {
margin:0;
padding:0;
box-sizing: border-box;

/*outline: 2px solid red;*/

}
margin

body{

    font-family: 'Courier New', Courier, monospace;

}

h1{
    margin-bottom:2rem;

    text-align: center;
}

.card
{ margin: 2rem;

    background-color: rgba(150,100,180,.5);

    width: 400px; height: 400px;
    position: relative;
}

.card_img {

    display: block;
    width: 100%; 
    height:100%;
    object-fit: cover;
}

.card_overlay {
background-color: rgba(50, 200, 100,.5);
width:100%;
height:100%;
position:absolute;
top:0; 
font-size: 3rem;

opacity: 0; 

transition: opacity 0.25s;

display:grid;
place-items: center;

}

.card:hover .card_overlay {opacity: 1;

}